@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d6d1d5;
}

.head {
  padding: 1rem;
}

h1 {
  font-family: Lobster, cursive;
  color: #fff;
  text-align: center;
}

h2 {
  font-family: Lobster, cursive;
  color: #fff;
}

.head {
  display: block;
}

ul {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

a {
  padding: .2em .5em .3em;
  background-color: #b2a212;
  display: inline-block;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1.125rem;
  font-family: "Indie Flower", cursive;
  list-style-type: none;
  display: inline-block;
  background-color: #ededed;
}

a:hover {
  text-decoration: none;
  background-color:#fff;
  color: #f33;
}

li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}

.best {
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.reviews {
  background: #bcbabc;
  text-align: center;
}

.bob {
  display: block;
  background-color: #bcbabc;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: .4em .75em .5em;
  font-family: "Indie Flower", cursive;
}

.dill {
  display: block;
  background-color: #bcbabc;
  border-bottom: 3px solid #fff;
  border-radius: 3px;
  padding: .4em .75em .5em;
  font-family: "Indie Flower", cursive;
}

.pan {
  display: block;
  background-color: #bcbabc;
  border-bottom: 3px solid #fff;
  border-radius: 3px;
  padding: .4em .75em .5em;
  font-family: "Indie Flower", cursive;
}

.bob img {
  margin-bottom: .5rem;
}

.bob p {
  text-align: center;
}

.bob q {
  text-align: center;
  display: block;
}

.dill img {
  margin-bottom: .5rem;
}

.dill p {
  text-align: center;
}

.dill q {
  text-align: center;
  display: block;
}

.pan img {
  margin-bottom: .5rem;
}

.pan p {
  text-align: center;
}

.pan q {
  text-align: center;
  display: block;
}
